version: 2
jobs:
  # build:
  #   docker:
  #     - image: circleci/python
  #   steps:
  #     - checkout
  #     - run: echo "Nothing to build yet, so this test is a placeholder."
  test:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run: sudo pip install -U pytest
      - run: sudo pip install -r requirements.txt
      - run: python3 -m pytest tests/
  mypy:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run: sudo pip3 install -U mypy
      - run: mypy -p capstone360
  lint:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run: sudo pip3 install -U flake8
      - run: flake8 --max-line-length=110

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - lint
      # - mypy
