body       { 
    font-family: "Helvetica", sans-serif; 
    font-size: 20px; 
    margin: 0;
    background-color: #BCBCBC;
}

a:hover{
    text-decoration: none;
}

h1, h2  {
     color: white; 
     width: 100%;
     padding: 50px;
     background-color: #4286f4;
     text-align: center;
     border-radius: 10px;
    }

h3 {
    text-align: center;
    width: 100%;
    padding: 10px 50px;
}

.nav-container{
    color: #cecece;
    position: fixed;
    top: 100px;
    z-index: 9999;
}

.row.nav{
    background-color: #6a6a6d;
}

.nav{
    text-align: center;
    padding: 10px;
}

.nav a:visited{
    color: #cecece;
}

.row.button{
    text-align: center;
}

.sub-buttons, .add-student-btn{
    visibility: hidden;
}
.remove-card{
    display: none;
}

.lead-card{
    display: none;
}

.lead-check{
    position: absolute;
    right: 25px;
} 

.edit-btn{
    cursor: pointer;
}

.row.header{
    margin-left: 0;
    z-index: 9999;
}

form       { margin:.1em auto; padding:.1em; width: 100%; border: 1px }
.heading  { font-weight: bold; margin-top: 30px;}
.entry     { 
    margin-bottom: 2em; 
    border-bottom: 1px solid #888; 
    position: relative;
}
input[type=text],
input[type=date]
{ margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 100%;
border-top:0; border-right:0; border-left: 0;}
input[type=date]{text-align: center;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 100%;}
input {
    display: block;
}

.text-look-alike-button{
    margin: auto;
    text-align: center;
    background-color: inherit;
    border: 0px;
    color: white;
}

.checkbox-container {
    padding-left: 10px;
    font-weight: bold;
}

.student-card{
    background-color: #5D5E61;
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    min-height: 400px;
    position: relative;
    margin: 50px auto;
    margin-top: 100px;
}

.student-card:nth-child(-n+3){
    margin-top: 250px !important;
}

.student-page-card{
    background-color: #5D5E61;
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    margin: auto;
}

.student-card h4{
    text-align: center;
}

.add-container, .remove-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.input-card{
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    width: 400px;
    margin-top: 50px;
}
.header-img{
    width: 100%;
}

.my-btn{
    background-color: #E0EE2A;
    color: grey;
    border: none;
    border-radius:5px;
    /* padding: 10px 20px;
    margin-top: 25px;
    margin-right: 200px; */
    font-size: 12px;
    cursor: pointer;
    float: left;
    padding: 10px 20px;
    width: 130px;
    margin-top: 25px;
}
.my-cancel-btn{
    background-color: #E0EE2A;
    color: grey;
    border: none;
    border-radius:5px;
    font-size: 12px;
    cursor: pointer;
    float: right;
    padding: 10px 20px;
    width: 100px;
}
.card-btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.psu-logo{
    width: 240px;
    margin-left: 35px;
}

.header{
    height: 100px;
    position:fixed;
    top:0;
    width:100vw;
    background-color:#313036;
    display: flex;
    align-items: center;
}

.body{
    margin-top:124px;
}

.login-container{
    margin-top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
}

.login-hero{
    width: 100%;
    height: 450px;
    background-color: #313036;
    border-radius: 10px;
}

.login-hero img{
    width:100%;
}

.login-hero h3{
    color: #fff;
    position: absolute;
    left:50%;
    top: 70px;
    transform: translateX(-50%);
}

.student-login-btn{
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b7c229;
    padding: 5px 30px;
    border-radius: 5px;
    bottom: 20%;
}
.prof-login-btn{
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #b7c229;
    padding: 5px 22px;
    border-radius: 5px;
    bottom: 40%;
}
.user-icon{
    width: 24px;
    opacity: 0.4;
}

.name{
    margin-left: 25px;
}

.nav .col-sm{
    border-right: 1px solid grey;
}

.nav .col-sm:last-child{
    border-right: none;
}

.dashboard-container{
    margin-top: 250px;
}

.remove-check{
    position: absolute;
    right: 25px;
}

@media (min-width: 576px){
    .container{max-width: 100%;}
}

.date-card{
    width: 500px;
}

.input-card.date-card form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input-card.date-card > form > .heading,
.input-card.date-card > form > input{
    font-size: 18px;
    width: 49%;
}

.input-card.date-card > form > input{
    font-size: 12px;
}

/* https://stackoverflow.com/questions/8739665/is-background-colornone-valid-css - second answer (by Jitendra Vyas and JGallardo, not the accepted answer, though it might not matter)*/
#student-page-student-info{
    background-color: transparent;
    color: black;
    padding: 0px;
}
