Source: capstone360
Section: python
Priority: extra
Maintainer: Adam Barber <embarber@pdx.edu>
Build-Depends: debhelper (>= 9), python, dh-virtualenv(>= 0.8)
Standards-Version: 3.9.5

Package: capstone360
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.6 | python3.5, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: A PSU capstone tracking system.
