{% extends "layout.html" %}
{% block content %}
<div class="body">
    <div class="row">
        <div class="login-container">
            <div class="login-error-hero">
                <div class="row">
                    <h3 class="login-error-h3">{{ msg }}</h3>
                </div>
                <div class="row">
                    <a class="login-error-link" href="{{ url_for('cas.logout') }}"><div>Logout</div></a>
                </div>
                {% if student_register %}
                <div class="row">
                    <a class="login-error-link" href="{{ url_for('registerStudent') }}"><div>Register for a session</div></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
