{% extends "layout.html" %}
{% block content %}
<div class="row header">
	<img class="psu-logo" src="{{ url_for('static', filename='Assets/psu-logo.png') }}">
</div>
<div class="body">
	<div class="row">
		<div class="login-container">
			<div class="login-hero">
				<h3>WELCOME TO CAPSTONE 360</h3>
				<img src="{{ url_for('static', filename='Assets/karl-miller.png')}}">
			<div class="login-btn">Login</div>
			</div>
		</div>
	</div>
	<!-- <h3>View reipes <a href="{{ url_for('recipe') }}">here</a></h3>
	<h3>Add reipes <a href="{{ url_for('add') }}">here</a></h3> -->
</div>

{% endblock %}