{% extends "menu.html" %}
{% block content %}
<!-- This is the input frontend where users can input information about recipes -->
	<h3>Remove Team</h3>
	<div class="remove-container">
	<div class="input-card">
		<form action="{{ url_for('dashboard', session_id=session_id) }}" method=POST>
			<p class="heading" style="display: inline-block;">Team Name: {{team_name}}</p> 
			<input type="hidden" value={{team_name}} name=removed_team>
			<input type="hidden" value={{session_id}} name=session_id>	
			<p><input class="my-btn" type=submit value='Remove Team' style="
				background-color: #ff9e16";
				color: white;
				border: none;
				border-radius:5px;
				padding: 10px 20px;
				cursor: pointer;></p>						
		</form>
		<a href="{{ url_for('dashboard', session_id=session_id) }}"><button class="my-btn">Cancel</button></a>
	</div>
	</div>

{% endblock %}