{% extends "menu.html" %}
{% block content %}
<div class="container dashboard-container">
    Midterm
    <ul>
    {% for s in students %}
    <li><a href="{{ url_for('studentReport', student_id=s.id, session_id=s.session_id, is_final=False, team_id=team_id) }}">{{ s.name }}</a></li>
    {% endfor %}
    </ul>
    Final
    <ul>
    {% for s in students %}
    <li><a href="{{ url_for('studentReport', student_id=s.id, session_id=s.session_id, is_final=True, team_id=team_id) }}">{{ s.name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
