{% extends "layout.html" %}

{% block content %}
<!--better solution later-->
<br>
<br>
<br>
<br>
{% if fatal_error %}
{{ fatal_error }}
{% else %}
<h3>Welcome to your Capstone 360 Review. Please fill out the review form below, {{name}}</h3>
{% if input_error %}
<ul>
    {% for alert in get_flashed_messages() %}
    <li><b>{{alert}}</b></li>
    {% endfor %}
</ul>
<br>
{% endif %}
<h4 style="font-size:16px">Key:</h4>
<ol style="font-size: 14px">
    <li>Poor</li>
    <li>Does Not Meet Expectations</li>
    <li>Meets Expectations</li>
    <li>Exceeds Exeectations</li>
    <li>Excellent</li>
</ol>
<section class="content">
    <form method="post">
        <div class="table-responsive" style="width: 100%; overflow-x:auto; overflow-y:auto">
            <input type="hidden" value={{user_id}} name=user_id>
            <table class="table table-striped" style="font-size: 12px">
                {% for i in range(15)%}
                <tr>
                    <td>{{human_fields[i]}}</td>
                    {% for mem in mems %}
                    {% if i == 0 %}
                    <td>{{mem['name']}}</td>
                    {% elif i < 8 %}
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    Score for {{mem['name']}}'s {{human_fields[i]}}
                                </div>
                                <div class="col-2">
                                        
                                </div>
                                <div class="col-6">
                                    {% for j in range(5) %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}"
                                            name="{{code_fields[i]}}_{{mem['id']}}" class="custom-control-input"
                                            value="{{5-j}}"
                                            {% for k in data %}
                                                {% set test = code_fields[i]~'_'~mem['id'] %}
                                                {% if k[test] is defined %}
                                                    {%if k[test] == 5-j %}
                                                        checked
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            required>
                                        <label class="custom-control-label"
                                            for="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}">{{5-j}}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </td>
                    {% elif i < 11 %}
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    {% if mem['is_lead'] == 1 %}
                                    Score for {{mem['name']}}'s {{human_fields[i]}}
                                    {% endif %}
                                </div>
                                <div class="col-6">
                                    {% for j in range(5) %}
                                    {% if mem['is_lead'] == 1 %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}"
                                            name="{{code_fields[i]}}_{{mem['id']}}" class="custom-control-input"
                                            value="{{5-j}}" 
                                            {% for k in data %}
                                                {% set test = code_fields[i]~'_'~mem['id'] %}
                                                {% if k[test] is defined %}
                                                    {%if k[test] == 5-j %}
                                                        checked
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            required>
                                        <label class="custom-control-label"
                                            for="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}">{{5-j}}</label>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </td>
                    {% elif i < 12 %}
                    <td>
                        <input type="text" placeholder="Enter Value 0-100" class="form-control" name="{{code_fields[i]}}_{{mem['id']}}"
                            id="{{code_fields[i]}}_{{mem['id']}}" 
                            {% for k in data %}
                                {% set test = code_fields[i]~'_'~mem['id'] %}
                                {% if k[test] is defined %}
                                    value="{{k[test]}}"
                                {% endif %}
                            {% endfor %}
                            required>
                    </td>
                    {% else %}
                    <td>
                        {% if is_done == 1 -%}
                        {% set test = code_fields[i]~'_'~mem['id'] %}
                        <textarea placeholder="What Are {{mem['name']}}'s {{human_fields[i]}}? '" class="form-control"
                            name="{{code_fields[i]}}_{{mem['id']}}" id="{{code_fields[i]}}_{{mem['id']}}" rows="5"
                            required>
                        {% for k in data -%}
                        {% if k[test] is defined -%}{{k[test]}}{%- endif %}
                        {%- endfor %}
                        </textarea>
                        {% else %}
                        <textarea placeholder="What Are {{mem['name']}}'s {{human_fields[i]}}? '" class="form-control"
                            name="{{code_fields[i]}}_{{mem['id']}}" id="{{code_fields[i]}}_{{mem['id']}}" rows="5"
                            required></textarea>
                        {%- endif %}
                    </td>
                    {%- endif %}
                    {%- endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        <label for="learned">What you learned</label>
        {% if is_done == 1 -%}
        <textarea placeholder="What did you learn?" class="form-control" name="learned" id="learned" required>
        {% for k in data -%}
        {% if k['learned'] is defined -%}{{k['learned']}}{% else %}{%- endif %}
        {% endfor -%}
        </textarea>
        {% else %}
        <textarea placeholder="What did you learn?" class="form-control" name="learned" id="learned" required></textarea>
        {%- endif %}
        {% if state == 'final' -%}
        <br>
	<label for="proud">Are you proud of your accomplishment for this project?</label>
        {% if is_done == 1 -%}
        <textarea placeholder="Are you proud of your accomplishment for this project?" class="form-control" name="proud" id="proud" required>
        {% for k in data -%}
        {% if k['proud'] is defined -%}{{k['proud']}}{%- endif %}
        {%- endfor %}
        </textarea>
        {% else %}
        <textarea placeholder="Are you proud of your accomplishment for this project?" class="form-control" name="proud" id="proud" required></textarea>
        {%- endif %}
        {%- endif %}
        <br>
        <input type="submit" value="Submit">
    </form>
</section>
{% endif %}
{% endblock %}
