{% extends "layout.html" %}

{% block content %}
    <!--better solution later-->
    <br>
    <br>
    <br>
    <br>
    {% if fatal_error %}
        {{ fatal_error }}
    {% else %}
        {% if input_error %}
        <ul>
            {% for alert in get_flashed_messages() %}
                <li><b>{{alert}}</b></li>
            {% endfor %}
        </ul>
        <br>
        {% endif %}
        <h4 style="font-size:24px">Key:</h4>
        <ol style="font-size: 14px">
            <li>Poor</li>
            <li>Does Not Meet Expectations</li>
            <li>Meets Expectations</li>
            <li>Exceeds Exeectations</li>
            <li>Excellent</li>
        </ol>
        <section class="content">
            <form method="post">
                <table class="table table-striped" style="table-layout: fixed; font-size: 12px">
                    {% for i in range(15)%}
                        <tr>
                            <td>{{human_fields[i]}}</td>
                            {% for mem in mems %}
                                {% if i == 0 %}
                                    <td>{{mem['name']}}</td>
                                {% elif i < 8 %}
                                        <td>
                                            {% for j in range(5) %}
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}" name="{{code_fields[i]}}_{{mem['id']}}"
                                                        class="custom-control-input" value="{{5-j}}" required>
                                                    <label class="custom-control-label" for="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}">{{5-j}}</label>
                                                </div>
                                            {% endfor %}
                                        </td>
                                {% elif i < 11 %}
                                        <td>
                                            {% for j in range(5) %}
                                                {% if mem['is_lead'] == 1 %}
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}" name="{{code_fields[i]}}_{{mem['id']}}"
                                                            class="custom-control-input" value="{{5-j}}" required>
                                                        <label class="custom-control-label" for="{{code_fields[i]}}{{5 - j}}_{{mem['id']}}">{{5-j}}</label>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                {% elif i < 12 %}
                                    <td>
                                        <input type="text" placeholder="0" class="form-control" name="{{code_fields[i]}}_{{mem['id']}}" id="{{code_fields[i]}}_{{mem['id']}}"
                                            required>
                                    </td>
                                {% else %}
                                <td>
                                    <textarea placeholder="What Are {{mem['name']}}'s {{human_fields[i]}}? '" class="form-control" name="{{code_fields[i]}}_{{mem['id']}}" id="{{code_fields[i]}}_{{mem['id']}}" rows="3"
                                        required></textarea>
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <label for="learned">What you learned</label>
                <input type="text" class="form-control" name="learned" id="learned" required>
                {% if state == 'final' %}
                    <br>
                    <label for="proud">Are you proud of your accomplishment for this project?</label>
                    <input type="text" class="form-control" name="proud" id="proud" required>
                {% endif %}
                <br>
                <input type="submit" value="Submit">
            </form>
        </section>
    {% endif %}
{% endblock %}