{% extends "layout.html" %}
{% block content %}

<h3>Set Date</h3>
<div class="add-container">
    <div class="input-card date-card">
        {% if error %}
        <p><strong>Error:</strong> {{ error }}
        {% endif %}
        <form action="{{ url_for('profDashboard', session_id=session_id) }}" method="POST">
            <p class="heading">Midterm Start Date:</p>
                <input type="date" name="midterm_start">
            <p class="heading">Midterm End Date:</p>
                <input type="date" name="midterm_end"></p>
            <p class="heading">Final Start Date:</p>
                <input type="date" name="final_start"></p>
            <p class="heading">Final End Date:</p>
                <input type="date" name="final_end"></p>
            <input type="hidden" value="{{session_id}}" name="session_id">
            <p><input class="my-btn" type="submit" value="Submit" style="
                background-color: #b7c229;
                color: white;"></p>
        </form>
        <a href="{{ url_for('profDashboard', session_id=session_id) }}"><button class="my-cancel-btn" style="margin-top: -55px; margin-right: 51px;">Cancel</button></a>
    </div>
</div>
{% endblock %}
