{% extends "layout.html" %}
{% block content %}

<h3>Add Team</h3>
<div class="add-container">
	<div class="input-card date-card">
		<form action="{{ url_for('dashboard', sessionID=sessionID) }}" method=POST>
			<p class="heading">Midterm Start Date:</p>
				<input type=date name=midtermStart>
			<p class="heading">Midterm End Date:</p>
				<input type=date name=midtermEnd></p>
			<p class="heading">Final Start Date:</p>
				<input type=date name=finalStart></p>
			<p class="heading">Final End Date:</p>
				<input type=date name=finalEnd></p>
			<input type="hidden" value={{sessionID}} name=sessionID>
			<p><input class="my-btn" type=submit value='Submit' style="
				background-color: #b7c229;
				color: white;
				border: none;
				border-radius:5px;
				padding: 10px 20px;
				cursor: pointer;"></p>
		</form>

		<a href="{{ url_for('dashboard', sessionID=sessionID) }}"><button class="my-btn">Cancel</button></a>

	</div>
</div>

{% endblock %}