{% extends "menu.html" %}
{% block content %}
    <div class="container dashboard-container">
        <!-- Student Name -->
        <div class="row" style="text-align: center;">
            <div class="col-sm">
                <h3 style="text-align: center;">Student Name</h3>
                <p><i>Team A</i></p>
                <hr>
            </div>
        </div>
        <!-- Reviews/Report Boxes-->
        <div class="row" style="text-align: center;">
            <div class="col" style="text-align: center;">
                <div class="student-card">
                    <h3>Reviews</h3>
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                    <p>Hi</p>
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                </div>
            </div>
            <div class="col" style="text-align: center;">
                <div class="student-card">
                    <h3>Reports</h3> 
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                    <p>Hi2</p>
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
