{% extends "layout.html" %}
{% block content %}
<div class="body">
    <div class="row">
        <div class="login-container">
            <div class="login-hero">
                <h3>Welcome {{name}}</h3>
                <a href="/editStudent"><div class="prof-login-btn" style="width: 150px; text-align: center;bottom: 28%">Edit</div></a>
                <div class="student-login-btn" id="review-select" style="width: 150px; text-align: center; bottom: 44%">Review</div>
                <form>
                    <select id='options' name="selected_session" style="transform: translate(35%, 0); margin-top: 35%;">
                        {% for i in caps %}
                            <option value="{{i['id']}}" {% if i == caps|last %}selected{% endif %}>{{i['start_term']}} {{i['start_year']}} - {{i['end_term']}} {{i['end_year']}}</option>
                        {% endfor %}
                        
                    </select>
                </form>
                <a href="{{ url_for('cas.logout')}}"><div class="student-login-btn" style=
                    "width: 150px; 
                    text-align: center; 
                    background-color: #ff9e16;
                    bottom: 12%;">Logout </div></a>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='Javascript/review_selector.js')}}"></script>
{% endblock %}
