{% extends "menu.html" %}
{% block content %}
    <div class="container" id="student-page-container">
        {% if error %}
        <div class="row">
            <div class="col">
                <h3>{{error}}</h3>
            </div>
        </div>
        {% else %}
        <!-- Student Name -->
        <div class="row" style="text-align: center;">
            <div class="col">
                <h2 id="student-page-student-info">{{student['name']}}</h2>
                <p><i>{{student['team']}}</i></p>
            </div>
        </div>
        <!-- Reviews/Report Boxes-->
        <div class="row" style="text-align: center;">
            <div class="col" style="text-align: center;">
                <div class="student-page-card">
                    <h3>Midterm</h3>
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                    {% for review_for_student in review_data %}
                        {% if review_for_student['midterm_completed'] %}
                        <form action="{{url_for('viewReview')}}" method="POST">
                            <input type="hidden" name="tid" value="{{student['tid']}}">
                            <input type="hidden" name="reviewer_name" value="{{student['name']}}">
                            <input type="hidden" name="reviewee_name" value="{{review_for_student['reviewee_name']}}">
                            <input type="hidden" name="session_id" value="{{student['session_id']}}">
                            <input type="hidden" name="is_final" value="0">
                            <input class="text-look-alike-button" type="submit" value="{{('Review for ' + review_for_student['reviewee_name'])}}">
                        </form>
                        <!-- <h4><a href="/viewReview/">{{'Review for ' + review_for_student['reviewee_name']}}</a></h4> -->
                        {% else  %}
                        <button class="text-look-alike-button">{{('Review for ' + review_for_student['reviewee_name'] + ' - not completed')}}</button>
                        <!--<p style="color: dark-gray;"><i>{{'Review for ' + review_for_student['reviewee_name'] + ' - not completed'}}</i></p>-->
                        {% endif %}
                    {% endfor %}
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                    <h4><a href="#">Report</a></h4>
                </div>
            </div>
            <div class="col" style="text-align: center;">
                <div class="student-page-card">
                    <h3>Final</h3> 
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                    {% for review_for_student in review_data %}
                        {% if review_for_student['final_completed'] %}
                        <form action="{{ url_for('viewReview') }}" method=POST>
                            <input type="hidden" name="tid" value="{{student['tid']}}">
                            <input type="hidden" name="name" value="{{review_for_student['reviewee_name']}}">
                            <input class="text-look-alike-button" type="submit" value="{{('Review for ' + review_for_student['reviewee_name'])}}">
                        </form>
                        {% else  %}
                        <button class="text-look-alike-button"><i>{{('Review for ' + review_for_student['reviewee_name'] + ' - not completed')}}</i></button>
                        {% endif %}
                    {% endfor %}
                    <!-- https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element -->
                    <hr style="border: solid white 1px; background-color: white;">
                    <h4><a href="#">Report</a></h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
