{% extends "layout.html" %}
{% block content %}
<div class="body">
    <div class="container">
        {% if error %}
        <div class="row">
            <div class="col">
                <h3>{{error}}</h3>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                {% if details['is_final'] %}
                <h3>Final Review</h3>
                {% else %}
                <h3>Midterm Review</h3>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
           <div class="col">
               <p><b>Team Name:</b> {{details['team_name']}}</p> 
               <p><b>Reviewer:</b> {{details['reviewer']}}</p> 
               <p><b>Reviewee:</b> {{details['reviewee']}}</p> 
               <p><b>Time Submitted:</b> {{details['time']}}</p>
               <hr>
           </div>
        </div>
        {% for review_question in review_data %}
        <div class="row">
            <div class="col-4">
                <p><b>{{review_question['category']}}:</b></p>
            </div>
            <div class="col">
                <p>{{review_question['content']}}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
